.mtgblog {
    padding-top: 50px;
    
    
    

}

h1 {
    
    font-size: 50px;
    padding-bottom: 20px;

}

h2 {
    
    font-size: 35px;
    padding-bottom: 20px;
    
}

.byline {
    color: lightskyblue;
    font-size: 25px;
    padding-bottom: 20px;
    
}